@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header{
    width: 100%; 
    height: 4em;
    background-color: rgb(125, 150, 125);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.wrapper{
    display: flex;
    position: relative;
    width: 60%;
}

.logo-area{
    position: relative;
    width: 250px;
    height: 100%;
}

.logo-area *{
    cursor: pointer;
}

.logo-area img{
    position: absolute;
    width: 3em;
    height: 3em;
}

.logo-area h3{
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
    margin-left: 60px;
    color: rgb(255, 255, 255);
}

.logo-area p{
    margin-left: 60px;
    font-size: large;
    color: rgb(255, 255, 255);
    @import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
}

.navigation{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.menu li{
    width: 10em;
    padding: 1vh 3vh;
    text-align: center;
    position: relative;
}

.menu li a{
    display: inline;
    vertical-align: middle;
    color: #fff;
    letter-spacing: .3vh;
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    line-height: 40px;
}

.menu li:hover{
    transition: all .4s;
    background-color: rgb(150, 100, 50);
    cursor: pointer;
}

.menu li:hover .submenu{
    display: block;
}

.submenu{
    display: none;
    background-color: rgb(125, 125, 125);
    opacity: 80%;
    position: absolute;
    top: 63px;
    left: 0;
}

.submenu li{
    width: 10em;
    line-height: 20px;
}

#icon-search{
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(0, -50%);
}

#search-bar{
    display: none;
    width: 200px;
    height: 2em;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
    border-radius: 10px;
}

#icon-search:hover{
    cursor: pointer;
}

body{
    background-color: rgb(240, 240, 240);
    height: 2000px;
}

.slider-area{
    width: 100%;
    height: 400px;
}

.slider-area .slides{
    width: 100%;
    height: 400px;
}

.slider-area:hover{
    cursor: pointer;
}

.slider-area #arrow-left{
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.slider-area #arrow-right{
    padding: 5px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
}

#arrow-left:hover, #arrow-right:hover{
    cursor: pointer;
    border-radius: 30px;
    background-color: rgba(255, 255, 200, .5);
    
}

/* .box-content{
    height: 2000px;
} */

.box-content > div{
    border: 1px solid gray;
    width: 30vh;
    height: 45vh;
    margin: 5px 20px 20px 5px;
    border-radius: 5px;
    border-color: rgb(225, 225, 225);
    background-color: #fff;
}

.product-area{
    width: 100%;
    height: 75%;
    border-bottom: 1px solid rgb(225, 225, 225);
    
}

.product-description{
    margin-top: 25px;
    text-align: center;
    
}

.description{
    font-family: 'ZCOOL XiaoWei', serif;
    color: rgb(75, 75, 75);
}

.price{
    margin-top: 10px;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 2vh;
    font-weight: bold;
}

.sticky{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 50px;
}