.wrapper{
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: 100%;
}
    
#banner {
    position: relative;
    height: 600px;
}

#image{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
    width: 60%;
    height: 90%;
    margin-left: 1rem;
    background: url('../img/shirt-demo.png');
    object-fit: cover;
    animation: showUp 15s infinite;
}
    
#slider-content{
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(0, -50%);
    width: 500px;
    height: 500px;
}

#caption{
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15%;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: rgb(45, 60, 100);
    animation: showUp 7s infinite;
}
        
#sub-caption{
    font-family: 'Raleway', sans-serif;
    color: rgb(45, 60, 100);
    font-size: 1.2rem;
    position: absolute;
    left: 10%;
    top: 40%;
    animation: showUp 7s infinite;
}

#button{
    width: 200px;
    line-height: 20px;
    position: absolute;
    left: 30%;
    transform: translate(-50%, 0);
    bottom: 20%;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(45, 60, 100);
    padding: 1rem;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    animation: appearUp 2s 1;
}
        
#button:hover{
    cursor: pointer;
    transition: all .4s;
    background-color: rgb(91, 207, 207);
}

#slider-2, #slider-3{
    display: none;
}
   
#legend{
    width: 70%;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 0%);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 1.7rem;
    text-align: center;
    font-style: italic;
    color: rgb(45, 60, 100);
}