@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import "./variables";
@import "./header";
@import "./animations";
@import "./inicio";
@import "./planes";
@import "./_contacto";

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

footer{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: rgb(45, 60, 100);
    display: flex;
}

#footer-legend{
    width: 100%;
    line-height: 50px;
    color: #fff;
    position: absolute;
    bottom: 0%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#wrapper-footer{
    display: flex;
}

#flag{
    position: absolute;
    bottom: 2%;
    right: 35%;
    width: 42px;
    height: 42px;
}

#logo{
    position: absolute;
    width: 60px;
    height: 50px;
}





